:root {
  --primary-color: green;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: solid 3px var(--primary-color);
  margin-bottom: 2.5%;
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0.025rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

div {
  width: 35%;
  text-align: center;
  margin-left: 2.5%;
}


h2 {
  font-size: 1.75rem;
  color: var(--primary-color);
  margin-left: 5%;
}