:root {
  --primary-color: green;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: solid 3px var(--primary-color);
  margin-bottom: 2.5%;
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0.01rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pirma-rinda {
  width: 40%;
  border: dotted black 3px;
  text-align: center;
}

/*
.otra-rinda {

}
*/

h2 {
  font-size: 2rem;
  color: var(--primary-color);
}