@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary: rgb(55, 168, 55); 
  --secondary: green; 
  --tertiary:
}

body {
  font-family: 'Fredoka';
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;

  background-image: url("../assets/bg2.png");
  background-repeat: repeat;
  background-size: 75%;
  animation: moveBg 400s linear;
}

@keyframes moveBg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -1500% -1500%;
  }
}

h1 {
  font-size: 3rem;
}

label {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 33%;
  margin: 1.4rem auto;
}

input {
  margin-top: 0.75rem;
}

input[type=radio] {
  opacity: 0;
}

input[type=radio] + label {
  font-size: 1.5rem;
}

input[type=radio]:checked + label {
  font-weight: bold;
}

input[type=number] {

}

.radio-row {
  display: flex;
}

header {
  border-bottom: solid green 0.5rem;
  margin: 0.75rem -1.5rem;
  margin-top: -1.7rem;
  padding-left: 1.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

#app {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1.5rem;
  border: solid var(--secondary) 1rem;
  border-radius: 1rem;
  width: 50%;
  height: 45%;
}
